@import "slider"
@import "who"
@import "what"
@import "where"

.component
  height: 100vh
  display: flex
  align-items: center
  justify-content: center

  .wrapper
    width: 80%

  .componentHeader
    font: bold 36pt/1.5em 'open sans','helvetica black','arial black',sans-serif

  p
    width: 70%
    font-size: 16pt
    line-height: 1.5em
