@import "slider"
@import "who"
@import "what"
@import "where"

#cta-scroll
  width: 2vw
  display: block
  fill: white
  margin-left: -1vw
  position: absolute
  bottom: 7vh
  left: 50%
  z-index: 10
  animation: ctaScroll 10s infinite

.component,
.slider article
  height: 100vh
  display: flex
  align-items: center
  justify-content: center

  .wrapper
    width: 80%

  .componentHeader
    font: bold 36pt/1.5em 'open sans','helvetica black','helvetica neue black','arial black',sans-serif
    letter-spacing: -.15em

  p
    width: 70%
    font-size: 16pt
    line-height: 1.5em

@keyframes ctaScroll
  10%, 20%
    transform: translateY(50%) scaleX(.94)
  0%, 5%, 15%, 25%
    transform: translateY(0)
