.slider
  background-color: #555
  overflow: hidden
  position: relative
  article
    width: 100%
    height: 100%
    color: white
    background-color: #888
    overflow: hidden
    visibility: hidden
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    z-index: 0
    transition: all .4s ease-out
    transform: translateZ(0)  // force gpu acc

  .prevSlide
    opacity: 0
    transform: scale(.75) translateY(50%)

  .currentSlide
    visibility: visible
    z-index: 1

  .nextSlide
    transform: translateY(-100%)
    z-index: 10

  #sliderNav
    &:hover button
      opacity: 1
    ul,
    ul > li
      list-style: none
    button
      background-color: transparent
      border: 5px solid transparent
      line-height: 1em
      // opacity: 0
      margin-bottom: -20px
      padding: 10px
      position: absolute
      bottom: 20%
      z-index: 99
      transition: opacity .5s ease-out, border .25s cubic-bezier(0.53,-0.02, 1, 1.11)
      &:hover
        border-color: white
      &#prevSliderBtn
        left: 8vw
        svg
          transform: rotate(90deg)
      &#nextSliderBtn
        right: 8vw
        svg
          transform: rotate(-90deg)
      svg
        width: 20px
        height: 20px
        fill: white


  // #slide0
  //   background-color: yellow
  // #slide1
  //   background-color: red
  // #slide2
  //   background-color: green
  // #slide3
  //   background-color: purple
