$projectHeaderBoxShadowProps: inset 0 0 10px 1px

.component#what
  overflow: hidden
  position: relative
  *::selection
    background-color: #00933c
  .wrapper
    display: flex
    align-items: center
    justify-content: space-between
  .componentHeader
    span
      display: block
      margin-left: -1ch

  #projects
    display: flex
    align-content: center
    flex-direction: column
    list-style: none
    margin-left: 15vw
    li
      animation: activate .5s
      // &:nth-child(6n) header h1
      //   a:hover,
      //   a:focus
      //     background-color: orange
      // &:nth-child(6n+1) header h1
      //   a:hover,
      //   a:focus
      //     background-color: purple
      // &:nth-child(6n+2) header
      //   a:hover,
      //   a:focus
      //    background-color: green
      // &:nth-child(6n+3) header h1
      //   a:hover,
      //   a:focus
      //     background-color: red
      // &:nth-child(6n+4) header h1
      //   a:hover,
      //   a:focus
      //     background-color: yellow
      // &:nth-child(6n+5) header h1
      //   a:hover,
      //   a:focus
      //     background-color: blue
      header
        h1
          font: bold 10vh/.9em 'open sans', 'helvetica black', 'helvetica neue black', 'arial black', sans-serif
          margin: 0
          a
            color: #bbb
            // text-transform: capitalize
            letter-spacing: -.1em
            word-spacing: -.2em
            white-space: nowrap
            // text-overflow: clip
            transition: /*color 2s ease-out, */all .1s ease-out
            &:hover,
            &:focus
              color: rgba(255, 0, 0, .6)
              text-shadow: -7px 0 0 rgba(0, 0, 255, .6), 7px 0 0 rgba(255, 255, 0, .6)
              word-spacing: 0
              // transition-duration: 0, .1s
      .projectDescription
        display: none


  #skillset
    position: relative
    z-index: 1
    #projectSearch
      border: 5px solid #ccc
      padding: 10px
      transition: border .1s ease-out
      &:focus
        border-color: #808183
      &::placeholder
        color: #aaa
    ul, input
      width: 20vw
    ul
      text-align: justify
      margin-top: 2vh
      padding: 0
      li
        display: inline-block
        margin: 3px
        &:nth-child(6n)
          button:hover
            background-color: #ff6319
        &:nth-child(6n+1)
          button:hover
            background-color: #b933ad
        &:nth-child(6n+2)
          clear: right
          button:hover
            background-color: #00933c
        &:nth-child(6n+3)
          button:hover
            background-color: #ee352e
        &:nth-child(6n+4)
          button:hover
            background-color: #fccc0a
            color: black
        &:nth-child(6n+5)
          button:hover
            background-color: #2850ad
        button
          color: white
          background-color: #555
          border: 0
          font-size: 12pt
          line-height: 1em
          font-weight: bold
          text-transform: uppercase
          white-space: nowrap
          list-style: none
          padding: 8px
          transition: all 2s ease-out
          &:hover
            transition: none


@media only screen and (max-device-width: 1024px)
  .component#what
    .componentHeader span
      display: inline
      margin: 0
    #projects,
    #skillset
      position: static
    #projects
      max-width: 100%
      max-height: 100%
      text-align: left
      white-space: nowrap
      overflow-x: scroll
      margin: 7vh 0
      li
        display: inline-block
        float: none
        clear: none
      a
        width: 10vh
        height: 10vh
    #skillset
      ul, input
        width: 100%

@media only screen and (max-device-width: 740px)
  .component#what
    .componentHeader span
      display: block

@keyframes activate
  0%
    transform: translateY(50vh)
    opacity: 0