$projectHeaderBoxShadowProps: inset 0 0 10px 1px

.component#what
  overflow: hidden
  position: relative
  *::selection
    background-color: #00933c
  .componentHeader
    span
      display: block
      margin-left: -1ch

  #projects
    max-width: 50vw
    max-height: 80vh
    list-style: none
    text-align: right
    padding: 0
    position: absolute
    right: 15vw
    bottom: 15vh
    z-index: 0
    li
      float: right
      clear: left
      margin: 20px
      animation: activate .5s
      &:nth-child(8n)
        animation-delay: .1s
        header
          background-color: #ff6319
          box-shadow: $projectHeaderBoxShadowProps #ff6319
      &:nth-child(8n+1)
        animation-delay: .2s
        header
          background-color: #b933ad
          box-shadow: $projectHeaderBoxShadowProps #b933ad
      &:nth-child(8n+2)
        animation-delay: .3s
        clear: right
        header
          background-color: #00933c
          box-shadow: $projectHeaderBoxShadowProps #00933c
      &:nth-child(8n+3)
        animation-delay: .4s
        header
          background-color: #ee352e
          box-shadow: $projectHeaderBoxShadowProps #ee352e
      &:nth-child(8n+4)
        animation-delay: .5s
        header
          background-color: #fccc0a
          box-shadow: $projectHeaderBoxShadowProps #fccc0a
          color: black
      &:nth-child(8n+5)
        animation-delay: .6s
        header
          background-color: #996633
          box-shadow: $projectHeaderBoxShadowProps #996633
      &:nth-child(8n+6)
        animation-delay: .7s
        header
          background-color: #6cbe45
          box-shadow: $projectHeaderBoxShadowProps #6cbe45
      &:nth-child(8n+7)
        animation-delay: .8s
        header
          background-color: #2850ad
          box-shadow: $projectHeaderBoxShadowProps #2850ad
    a
      width: 20vmin
      height: 20vmin
      display: block
      border-radius: 50%
      overflow: hidden
      position: relative
      transform: translateZ(0)  // chrome positioning fix
      &:hover header,
      &:focus header
        opacity: 1
        transform: scale(1)
      header
        display: flex
        align-items: center
        justify-content: center
        border-radius: 50%
        text-align: center
        text-overflow: ellipsis
        opacity: 0
        transform: scale(1.2)
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
        transition: all .2s ease-out
        h1
          width: 80%
          color: white
          font: bold 16pt/1em 'open sans', 'helvetica black', 'arial black', sans-serif
      img
        display: block
        min-width: 100%
        max-height: 100%
        text-align: center

    article
      display: none
      // display: flex
      align-items: center
      justify-content: center
      background-color: #18191b
      text-align: left
      transform: scale(0)
      opacity: 0
      transition: all .25s ease-in
      position: fixed
      top: 0
      right: 0
      // bottom: 0
      left: 0
      z-index: 100
      p
        color: white

  #skillset
    #projectSearch
      border: 5px solid #ccc
      padding: 10px
      transition: border .1s ease-out
      &:focus
        border-color: #808183
      &::placeholder
        color: #aaa
    ul, input
      width: 20vw
    ul
      text-align: justify
      margin-top: 2vh
      padding: 0
      li
        display: inline-block
        margin: 3px
        &:nth-child(6n)
          button:hover
            background-color: #ff6319
        &:nth-child(6n+1)
          button:hover
            background-color: #b933ad
        &:nth-child(6n+2)
          clear: right
          button:hover
            background-color: #00933c
        &:nth-child(6n+3)
          button:hover
            background-color: #ee352e
        &:nth-child(6n+4)
          button:hover
            background-color: #fccc0a
            color: black
        &:nth-child(6n+5)
          button:hover
            background-color: #2850ad
        button
          color: white
          background-color: #555
          border: 0
          font-size: 12pt
          line-height: 1em
          font-weight: bold
          text-transform: uppercase
          white-space: nowrap
          list-style: none
          padding: 8px
          transition: all 2s ease-out
          &:hover
            transition: none


@media only screen and (max-device-width: 1024px)
  .component#what
    .componentHeader span
      display: inline
      margin: 0
    #projects,
    #skillset
      position: static
    #projects
      max-width: 100%
      max-height: 100%
      text-align: left
      white-space: nowrap
      overflow-x: scroll
      margin: 7vh 0
      li
        display: inline-block
        float: none
        clear: none
      a
        width: 10vh
        height: 10vh
    #skillset
      ul, input
        width: 100%

@media only screen and (max-device-width: 740px)
  .component#what
    .componentHeader span
      display: block

@keyframes activate
  0%
    transform: translateY(50vh)
    opacity: 0