@import url(https://fonts.googleapis.com/css?family=Open+Sans:800)

@import "normalize"

@import "header"
@import "body"
@import "footer"

$accentColor:  #fccc0a

*:focus
  outline: 0

*::selection
  color: white
  background-color: #333

html
  color: #222
  background-color: $accentColor

body
  background-color: white

a
  color: #2850ad
  text-decoration: none

p
  a
    color: currentColor
    text-decoration: underline
    &:hover,
    &:focus
      color: white
      background-color: #333
      text-decoration: none
      outline: 5px solid #333

button,
input
  border: 0
  cursor: pointer
